.App {
  background-color: #673ab7;
  height: 100%;
}

.App footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-transform: uppercase;
  font-size: 12px;
}

.App footer,
.App footer a {
  color: #212121;
}

